<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" conteFnt="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>

<body>
    <h1>Directores</h1>
    <ul>
        @{
            foreach (string director in @ViewBag.ListaDirectores)
            {
                <li> @director</li>
            }
        }
    </ul>
    <form action="/formulario/director" method="GET">
        <label>Agregar nuevo director:</label>
        <button>Agregar director</button>
    </form>
</body>

</html>