<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo director</title>
</head>

<body>
    <form action="/nuevo/director" method="POST">
        <label for="NombreCompleto">Nombre completo del director: </label>
        <br>
        <input type="text" id="NombreCompleto" name="NombreCompleto">
        <button>Agregar</button>
    </form>
</body>

</html>